<div class="carousel slide" id="myCarousel"></div> <!-- end carousel -->

<div class="row" id="bigCallout"></div> <!-- end bigCallout -->	

<div class="row" id="featuresHeading"></div> <!-- end featuresHeading -->	

<div class="row" id="features"></div> <!-- end features -->

<div class="row" id="moreInfo"></div> <!-- end moreInfo -->

<div class="row" id="moreCourses"></div> <!-- end moreCourese -->





