<div class="navbar navbar-fixed-top">
	<div class="container">
		<a class="navbar-brand" href="#"><img src="" alt="Your logo"></a>

		<div class="nav-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">Home</a>
				</li>
				<li class="">
					<a href="#">Mais produtos</a>
				</li>

				<form class="navbar-form"> 
					<input type="text" class="form-control" placeholder="Search this site...">
				</form>

			</ul>

		</div>

	</div>




</div> <!-- end navbar -->